.main {
    /*controls the font for all */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.navbar {
    /*put at the content in navbar in one line */
    display: flex;
    /*creates a spcae between the */
    justify-content: space-between;
    background-color: #009BB9;
    color: white;
    /*controls the space between the content and the border */
    padding: 20px;


}

.navbar a{
    /*removes the underline of the links*/
    text-decoration: none;
    color: white;
}

.pages_link {
    word-spacing: 10px;
    
}

.section1 {
    margin-top: 10px;
    position: relative;
    height: 400px;

    overflow: hidden;
}

.image1 {
    width: 100%;
    height: 100%;
    background-image: url(/images/placeholder.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    z-index: 1;
}

.curve-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: 2;

}



.text-overlay {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    
}

@media screen and (max-width:768px) {
    .overlay-container {
        width: 80%;
        padding-left: 10px;
    }

    .text-overlay h2 { 
        font-size: 1.5rem;
    }

    .text-overlay p {
        font-size: 1rem;
    }
}
